#logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
#img_logo{
  margin-top: 5px;
  max-width: 230px;
}
#nav{
  background-color: rgba(0,55,100, 0.7);
  align-items: center;
  display: flex;
}
#mobile-demo{
  background-color: rgba(255,183,0, 0.7);

}
